[user]
	name = AUTHORNAME 
	email = AUTHOREMAIL
[core]
	excludefiles = ~/.gitignore
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	glog = log --format='%Cgreen%h%Creset %C(cyan)%an%Creset - %s' --graph
	lolm = log --graph --decorate --format='%h %an - %d %s' --abbrev-commit --all
	lolc = log --graph --decorate --format='%C(yellow)%h%Creset %C(green)%an%Creset%C(red bold)%d%Creset %s' --abbrev-commit --all -10
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = simple
